In [1]:
print("hello")

hello

# Day1

variables

In [1]:
a=10

In [2]:
print(a)

10

In [3]:
print(a+a)

20

In [4]:
print(type(a))

<class 'int'>

list

In [30]:
L=[1,"hello",True,3,4,5,2,6]#it can store all data type

In [16]:
L[0]

1

In [17]:
L[1]

'hello'

In [19]:
L[1][1]

'e'

In [20]:
L[-1]

True

In [21]:
L[::-1]

[True, 'hello', 1]

In [22]:
L[::]

[1, 'hello', True]

In [23]:
L[0:2]

[1, 'hello']

In [ ]:
L[0:-1:2]

[1, True, 4, 2]

In [34]:
L[0:-1:3]

[1, 3, 2]

In [35]:
L[2:]

[True, 3, 4, 5, 2, 6]

In [36]:
len(L)

8

In [1]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [2]:
List=[1,2,3,4,5,6,7]

# Insert

In [ ]:
List = ["a", "b", "c", "d"]
List.insert(-1, "riji")
print(List)

['a', 'b', 'riji', 'c', 'd']

In [15]:
List = ["a", "b", "c"]
List.insert(len(List), "riji")
print(List)

['a', 'b', 'c', 'riji']

# append

In [16]:
List = ["a", "b", "c"]
List.append("riji")
print(List)

['a', 'b', 'c', 'riji']

# pop

In [17]:
List = ["a", "b", "c"]
List.pop()
print(List)

['a', 'b']

In [18]:
List.pop(1)

'b'

# Remove

In [ ]:
List = ["a", "b", "c"]
List.remove("a")
print(List)

['b', 'c']

# count

In [24]:
List = ["a", "b", "c","a"]
List.count("a")

2

# index

In [25]:
List = ["a", "b", "c","a"]
List.index("a")

0

# Reverse

In [27]:
List = ["a", "b", "c","a"]
List.reverse()
List

['a', 'c', 'b', 'a']

# sort

In [28]:
List = ["a", "b", "c","a"]
List.sort()
List

['a', 'a', 'b', 'c']

In [29]:
List = ["a", "b", "c","e"]
List.sort(reverse=True)
List

['e', 'c', 'b', 'a']

# copy

In [30]:
List = ["a", "b", "c","e"]
List_1=List.copy()
List_1

['a', 'b', 'c', 'e']

# Extend

In [32]:
List = ["a", "b", "c","e"]
List_1 = [1,2,3,4,5]
List.extend(List_1)
List

['a', 'b', 'c', 'e', 1, 2, 3, 4, 5]

# Append

In [33]:
List = ["a", "b", "c","e"]
List_1 = [1,2,3,4,5]
List.append(List_1)
List

['a', 'b', 'c', 'e', [1, 2, 3, 4, 5]]

# Tupple

In [34]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

# count

In [35]:
Tuple=(1,"a",2,4,5.5)
Tuple.count(1)

1

# index

In [36]:
Tuple=(1,"a",2,4,5.5)
Tuple.index(1)

0

# set

In [37]:
set	={1, 2, 3,"d"}

# Add

In [39]:
set.add("riji")
set

{1, 2, 3, 'd', 'riji'}

# Difference

In [42]:
set_2 = {1, 2, 3, "d"}
set_1 = {1, 2, 3}

diff = set_2.difference(set_1) 
print("Difference:", diff)

Difference: {'d'}

#  Difference_update

In [49]:
set_2 = {1, 2, 3, "d"}
set_1 = {1, 2, 3,4,5,6}

set_1.difference_update(set_2)  # modifies set_1 directly
print("Updated set_1:", set_1)
set_1

Updated set_1: {4, 5, 6}

{4, 5, 6}

# disjoint

In [52]:
set_2 = {1, 2, 3, "d"}
set_1 = {1, 2, 3,4,5,6}

set_1.isdisjoint(set_2)  # modifies set_1 directly

False

In [57]:
set_2 = { "d"}
set_1 = {1, 2, 3,4,5,6,"d"}

set_2.isdisjoint(set_1)

False

# superset &subset

In [59]:
set_1.issuperset(set_2)

True

In [60]:
set_2.issubset(set_1)

True

# remove

In [64]:
set_1 = {1, 2, 3,4,5,6,"d"}
set_1.remove("d")
set_1

{1, 2, 3, 4, 5, 6}

# intersection

In [69]:
set_1 = {1, 2, 3,4,5,6,"d"}
set_2 = {1, 2, 3,"d"}
set_1.intersection(set_2)

{1, 2, 3, 'd'}

In [67]:
set_1 = {1, 2, 3,4,5,6,"d"}
set_2 = {1, 2, 3,"d"}
set_1.intersection_update(set_2)
set_1

{1, 2, 3, 'd'}

# symmetric difference

In [71]:
set_1 = {1, 2, 3,4,5,6,"d"}
set_2 = {1, 2, 3,"d",7,8}
set_1.symmetric_difference(set_2)

{4, 5, 6, 7, 8}

# union

In [72]:
set_1 = {1, 2, 3,4,5,6,"d"}
set_2 = {1, 2, 3,"d",7,8}
set_1.union(set_2)

{1, 2, 3, 4, 5, 6, 7, 8, 'd'}

# dictonary

In [73]:
Emp={"Name":"Ram",
     "age":23,
     }
Emp

{'Name': 'Ram', 'age': 23}

In [76]:
Emp["Name"]="riji"
Emp

{'Name': 'riji', 'age': 23}

In [77]:
Guvi_Emp={
     'EmpID': [44,55,67,21,7,8,19,27],
    'Name':['Rajesh','Kumar','Kamal','Saran','Karthick','Iswarya','Divya','David'],
    'Designation':['Developer','Tester','TeamLead','Manager','Jr.Developer','Accontant','HR','Admin'],
    'Salary': [25000,30000,45000,60000,20000,22000,15000,28000],
}

In [81]:
Guvi_Emp["EmpID"].index(7)

4

In [85]:
print(f"Employee_ID----------->: {Guvi_Emp['EmpID'][4]}")

Employee_ID----------->: 7

In [87]:
print(f"name:{Guvi_Emp['Name'][4]}")

name:Karthick

# fromkeys

In [88]:
Guvi_Emp={"Emp_Id":[1,2,13,4]}
keys=["Name","age","sex"]
value=60
Emp=dict.fromkeys(keys,value)
Emp

{'Name': 60, 'age': 60, 'sex': 60}

In [89]:

keys=["Name","age","sex"]
value=60
Emp=dict.fromkeys(keys,value)
Emp

{'Name': 60, 'age': 60, 'sex': 60}


# Items

In [91]:
Emp={'Name':'Raja',
     'Age':30,
     'Income':30000,
     "Name":"rojo"} # It Allow Duplicate in Value But Not in Keys, Mutable, Order
Emp.items()

dict_items([('Name', 'rojo'), ('Age', 30), ('Income', 30000)])

# keys

In [92]:
Emp={'Name':'Raja',
     'Age':30,
     'Income':30000} # It Allow Duplicate in Value But Not in Keys, Mutable, Order
Emp.keys()

dict_keys(['Name', 'Age', 'Income'])

# values

In [93]:
Emp={'Name':'Raja',
     'Age':30,
     'Income':30000} # It Allow Duplicate in Value But Not in Keys, Mutable, Order
Emp.values()

dict_values(['Raja', 30, 30000])


# update

In [94]:
Emp={'Name':'Raja',
     'Income':30000}
Emp.update({'Age':30})
Emp

{'Name': 'Raja', 'Income': 30000, 'Age': 30}

# set default

In [95]:
emp = {
    "name": "Alice",
    "dept": "IT"
}

emp.setdefault("dept", "HR")  # key exists → does nothing
emp.setdefault("age", 30)     # key missing → adds it

print(emp)

{'name': 'Alice', 'dept': 'IT', 'age': 30}

# pop

In [98]:
emp = {
    "name": "Alice",
    "dept": "IT"
}

emp.pop("name")
emp

{'dept': 'IT'}

In [1]:
import random

n = int(input("Enter Number (1-10): "))
r = random.randint(1, 10)

if n == r:
    print("You're Right! ❤️")
else:
    print(f"You're Wrong :( The correct number was {r}")

You're Wrong :( The correct number was 4

# condition

In [4]:
a=int(input("enter age"))
if a>=20 and a<=50:
    print("allow")
else:
    print("child")

allow

In [5]:
Name=input("Enter Your Name:")
Mark=int(input("Enter Your Mark:"))



if Mark>=91 and Mark<=100:
  Neet=int(input("Enter Your Neet Score:"))
  if Neet>=90:
    print(f"{Name} Your Mark is {Mark} And you Neet Score {Neet} Since You are Eligible for Doctor")
  else:
    print(f"{Name} Your Mark is {Mark} And you Neet Score {Neet} Since You are Not Eligible for Doctor You Can Try for Other Courses")


elif Mark>=81 and Mark<=90:
  print(f"{Name} Your Mark is {Mark} And you are Eligible for Engineer")

elif Mark>=71 and Mark<=80:
  print(f"{Name} Your Mark is {Mark} And you are Eligible for Ats")

elif Mark>=41 and Mark<=70:
  print(f"{Name} Your Mark is {Mark} And you are Eligible for Diploma")

else:
  print(f"{Name} Your Mark is {Mark} And you are Fail")

riji Your Mark is 92 And you Neet Score 23 Since You are Not Eligible for Doctor You Can Try for Other Courses

In [6]:
Name=input("Enter Your Name:")
Mark=int(input("Enter Your Mark:"))
Neet=int(input("Enter Your Neet Score:"))

if Mark>90 and Neet>90 and "i" in Name:
  print(f"{Name} Your Mark is {Mark} And you Neet Score {Neet} Since You are Eligible for Doctor")
else:
  print(f"{Name} Your Mark is {Mark} And you Neet Score {Neet} Since You are Not Eligible for Doctor You Can Try for Other Courses")

riji Your Mark is 33 And you Neet Score 33 Since You are Not Eligible for Doctor You Can Try for Other Courses

# for loop

In [7]:
Name=['Raja','Ravi','Rani','Ramu']

for i in Name:
  print(i)

Raja
Ravi
Rani
Ramu

In [8]:
Name=['Raja','Ravi','Rani','Ramu']

for i in Name:
  print(Name)

['Raja', 'Ravi', 'Rani', 'Ramu']
['Raja', 'Ravi', 'Rani', 'Ramu']
['Raja', 'Ravi', 'Rani', 'Ramu']
['Raja', 'Ravi', 'Rani', 'Ramu']

In [19]:
Num=[10,20,39,67,78,44,25,22,68,100,0,103,27,78,99,0,1,2,3,4,5,6,7,8,9,10]

num_div_3=[]
num_div_5=[]
num_div_7=[]
for i in Num:
    if i%3==0:
        num_div_3.append(i)
    if i%5==0:
        num_div_5.append(i)
    if i%7==0:
        num_div_7.append(i)
print("divisibleby 3 ",num_div_3)
print("divisibleby 5 ",num_div_5)
print("divisibleby 7",num_div_7)

divisibleby 3  [39, 78, 0, 27, 78, 99, 0, 3, 6, 9]
divisibleby 5  [10, 20, 25, 100, 0, 0, 5, 10]
divisibleby 7 [0, 0, 7]

In [13]:
Animals=['Cat','Dog','Elephant','Tiger','Lion']

print(', '.join(Animals))

Cat, Dog, Elephant, Tiger, Lion

In [2]:
Animals=['Cat','Dog','Elephant','Tiger','Lion']

print('#'.join(Animals))

Cat#Dog#Elephant#Tiger#Lion

In [3]:
print(*Animals,sep='#')

Cat#Dog#Elephant#Tiger#Lion

In [4]:
print(*Animals,sep='%')

Cat%Dog%Elephant%Tiger%Lion

In [7]:
A=['rijina','10']
print("#".join(A[0]))

r#i#j#i#n#a

In [13]:
Name=[1,2,3,4]
for i in Name:
    print(i,end=' ')

1 2 3 4

# reverse

In [14]:
Name=[1,2,3,4]
for i in Name[::-1]:
     print(i,end=' ')

4 3 2 1

In [15]:
Name=[1,2,3,4]
print(Name[::-1])

[4, 3, 2, 1]

In [17]:
Name=['Raja','Ravi','Rani','Ramu']
Name.reverse()
print(Name)

['Ramu', 'Rani', 'Ravi', 'Raja']

In [18]:
Name=['Raja','Ravi','Rani','Ramu']
for i in Name:
  print("&".join(i))

R&a&j&a
R&a&v&i
R&a&n&i
R&a&m&u

In [21]:
Nums=[10,15,20,39,67,78,44,25,22,68,100,12,103,27,78,99,0,1,2,3,4,5,6,7,8,9,10]


A=Nums.pop(10)
A

100

# FOR RANGE

In [22]:
for i in range(1,11):   # Start, Stop, Step
  print(i)

1
2
3
4
5
6
7
8
9
10

In [24]:
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [25]:
for i in range(10,1,-2):
  print(i,end=' ')

10 8 6 4 2

In [30]:
n=int(input('Enter Number')) #10 9 8 7 6 5

for i in range(10,n,-1):
  print(i)

10
9
8
7
6

In [31]:
House=[10,20,0,8,89,0,78,13,14,0,7] #

for i in House:
  if i==0:
    print('House Address',House.index(i))

House Address 2
House Address 2
House Address 2

In [34]:
House=[10,20,0,8,89,0,78,13,14,0,7] #


for i in range(len(House)):
  print(i,House[i])

0 10
1 20
2 0
3 8
4 89
5 0
6 78
7 13
8 14
9 0
10 7

In [37]:
House=[10,20,0,8,89,0,78,13,14,0,7,10,78,67,0,8] #


for i in range(len(House)):
  if House[i]==0:
    print(f'index:{i},value:{House[i]}')

index:2,value:0
index:5,value:0
index:9,value:0
index:14,value:0

In [42]:
House=[10,20,0,8,89,0,78,13,14,0,7,10,78,67,0,8] #


for index,value in enumerate(House):
  if value==0:
    print(f'index:{index},value:{value}')

index:2,value:0
index:5,value:0
index:9,value:0
index:14,value:0

In [43]:
Guvi_Emp={
    'EmpID': [44,55,67,21,7,8,19,27],
    'Name':['Rajesh','Kumar','Kamal','Saran','Karthick','Iswarya','Divya','David'],
    'Designation':['Developer','Tester','TeamLead','Manager','Jr.Developer','Accontant','HR','Admin'],
    'Salary': [25000,30000,45000,60000,20000,22000,15000,28000],

}
Guvi_Emp

{'EmpID': [44, 55, 67, 21, 7, 8, 19, 27],
 'Name': ['Rajesh',
  'Kumar',
  'Kamal',
  'Saran',
  'Karthick',
  'Iswarya',
  'Divya',
  'David'],
 'Designation': ['Developer',
  'Tester',
  'TeamLead',
  'Manager',
  'Jr.Developer',
  'Accontant',
  'HR',
  'Admin'],
 'Salary': [25000, 30000, 45000, 60000, 20000, 22000, 15000, 28000]}

In [45]:
for emp_id,name,desg,sal in zip(Guvi_Emp['EmpID'],Guvi_Emp['Name'],Guvi_Emp['Designation'],Guvi_Emp['Salary']):
  print(f'Name: {name}')
  print(f'EmpID: {emp_id}')
  print(f'Designation: {desg}')
  print(f'Salary: {sal}')
  print('*-*'*10)

Name: Rajesh
EmpID: 44
Designation: Developer
Salary: 25000
*-**-**-**-**-**-**-**-**-**-*
Name: Kumar
EmpID: 55
Designation: Tester
Salary: 30000
*-**-**-**-**-**-**-**-**-**-*
Name: Kamal
EmpID: 67
Designation: TeamLead
Salary: 45000
*-**-**-**-**-**-**-**-**-**-*
Name: Saran
EmpID: 21
Designation: Manager
Salary: 60000
*-**-**-**-**-**-**-**-**-**-*
Name: Karthick
EmpID: 7
Designation: Jr.Developer
Salary: 20000
*-**-**-**-**-**-**-**-**-**-*
Name: Iswarya
EmpID: 8
Designation: Accontant
Salary: 22000
*-**-**-**-**-**-**-**-**-**-*
Name: Divya
EmpID: 19
Designation: HR
Salary: 15000
*-**-**-**-**-**-**-**-**-**-*
Name: David
EmpID: 27
Designation: Admin
Salary: 28000
*-**-**-**-**-**-**-**-**-**-*

In [46]:
A=[1,2,3,4,5,6]
B=[10,1,3,5]

# 1, 3, 5

for i in A:
  for j in B:
    print(i,j)
  print('--'*20)

1 10
1 1
1 3
1 5
----------------------------------------
2 10
2 1
2 3
2 5
----------------------------------------
3 10
3 1
3 3
3 5
----------------------------------------
4 10
4 1
4 3
4 5
----------------------------------------
5 10
5 1
5 3
5 5
----------------------------------------
6 10
6 1
6 3
6 5
----------------------------------------

In [47]:
A=[1,2,3,4,5,6]
B=[10,1,3,5]

# 1, 3, 5

for i in A:
  for j in B:
    if i!=j:
      print(i,j)
  print('--'*20)

1 10
1 3
1 5
----------------------------------------
2 10
2 1
2 3
2 5
----------------------------------------
3 10
3 1
3 5
----------------------------------------
4 10
4 1
4 3
4 5
----------------------------------------
5 10
5 1
5 3
----------------------------------------
6 10
6 1
6 3
6 5
----------------------------------------

In [48]:
L=[10,20,0,56,89,0,8]

for i in L:
  if i==0:
    break
  else:
    print(i)

10
20

In [14]:
L=[10,20,0,56,89,0,8]

for i in L:
  if i==0:
    continue
  else:
    print(i)

10
20
56
89
8

In [15]:
L=[10,20,0,56,89,0,8]

for i in L:
  if i==0:
    pass
  else:
    print(i)

10
20
56
89
8

In [16]:
L=[10,20,0,56,89,0,8]

for i in L:
  if i==0:
    print("zero found")
    pass
    print("condition")
  else:
    print(i)

10
20
zero found
condition
56
89
zero found
condition
8

In [17]:
L=[10,20,0,56,89,0,8]

for i in L:
  if i==0:
    print("zero found")
    continue
    print("condition")
  else:
    print(i)

10
20
zero found
56
89
zero found
8

In [ ]:
L=[10,20,0,56,89,0,8]

for i in L:
  if i==0:
    print("zero found")
    pass
if i>20:
     print(L[i])

zero found
zero found

In [50]:
L=[10,20,0,56,89,0,8]

for i in L:
  if i==0:

    continue
    print('Zero Found')


  else:
    print(i)

10
20
56
89
8

In [52]:
Pin=int(input('Enter Your Pin'))

if Pin==4567:
  print('Pin Matched')
  Amount=int(input('Enter Amount'))
  balc=10000
  if Amount<=balc:
    print('Transaction Successfull')
  else:
    pass # Just as Placeholder
else:
  print('Pin Not Matched')

Pin Matched
Transaction Successfull

In [7]:
House=[10,20,0,8,89,0] #


for i in range(len(House)-1,-1,-1):
  
    print(f'Index: {i}, Value: {House[i]}')

Index: 5, Value: 0
Index: 4, Value: 89
Index: 3, Value: 8
Index: 2, Value: 0
Index: 1, Value: 20
Index: 0, Value: 10

In [13]:
b = [1, 2, 3, 4, 5]
A = b[::-1]
print(A)

[5, 4, 3, 2, 1]

# Markdown

In [28]:
n=1 # Intial Value
while n<=10: # Condition
  n=n+1 # Increment
  print(n) # Statement

2
3
4
5
6
7
8
9
10
11

In [29]:
n=1 # Intial Value
while n<=10: # Condition
  n=n+1 # Increment
  print(n-1) # Statement

1
2
3
4
5
6
7
8
9
10

In [30]:
n=0 # Intial Value
while n<10: # Condition
  n=n+1 # Increment
  print(n) # Statement

1
2
3
4
5
6
7
8
9
10

In [32]:
Animals=['Cat','Dog','Cow','Lion','Tiger']

i=0

while i<len(Animals):
  print(Animals[i])
  i=i+1

Cat
Dog
Cow
Lion
Tiger

In [33]:

Animals=['Cat','Dog','Cow','Lion','Tiger']

i=0

while i<len(Animals):
  print(Animals[i])
  i=i+2

Cat
Cow
Tiger

In [34]:
Animals=['Cat','Dog','Cow','Lion','Tiger']

# Sort Alphabetically
Animals=sorted(Animals)

Animals

['Cat', 'Cow', 'Dog', 'Lion', 'Tiger']

In [36]:
Animals=['Cat','Dog','Cow','Lion','Tiger']

Animals.sort()
Animals

['Cat', 'Cow', 'Dog', 'Lion', 'Tiger']

# function

In [37]:
l=[1,2,3,4,5]

sum(l)

15

In [38]:
import math
math.sqrt(5)

2.23606797749979

In [39]:
def Odd_Or_Even(X):  # define a function, named Odd_Or_Even, pass a list as an argument

  for i in X:
    if i%2==0:
      print(f'{i} is Even')
    else:
      print(f'{i} is Odd')

In [40]:
l=[1,2,3,4,5]

Odd_Or_Even(l)

1 is Odd
2 is Even
3 is Odd
4 is Even
5 is Odd

In [41]:
def Square_5(num):

  print(num**2+5)

In [42]:
Square_5(2)

9

In [43]:
def Sum_5(num):
  return num+5

In [44]:
Sum_5(5)

10

In [46]:
Square_5(5)

30

In [47]:
Fruits=['Apple','Mango','Banana','Orange','Pineapple']

def Fruits_With_O(Fruits):
  for i in Fruits:
    if 'o' in i.lower():
      print(i)




Fruits_With_O(Fruits)

Mango
Orange

In [48]:
def welcome(name):
  print(f'Welcome {name}')

In [49]:
Name=input('Enter Your Name')

welcome(Name)

Welcome riji

In [50]:
def welcome1(name='Guest'):
  print(f'Welcome {name}')

In [51]:
welcome1()

Welcome Guest

In [56]:
def Details(name='Guest',age=None,gender=None,address=None):
  print("Details")
  print(f'Name: {name}')
  print(f'Age: {age}')
  print(f'Gender: {gender}')
  print(f'Address: {address}')

In [54]:
Details('Karthick',25,'Male')

Details
Name: Karthick
Age: 25
Gender: Male
Address: None

In [62]:
def Details(**detail): #keyword arguments **krgs
  print(detail['name'])
  print(detail['age'])
  print(detail['gender'])
  print(detail['Address'])
  print(detail['Pin'])

In [63]:
Details(name='Karthick',age=25,gender='Male',Address='Chennai',Pin=600097)

Karthick
25
Male
Chennai
600097

In [65]:
x=int(input())
print('square',x**2)

square 16

In [66]:
x=int(input())
# Absolute Value
print('absolute',abs(x))

absolute 2

In [69]:
X=float(input())
print('round',round(X))

round 4

In [70]:
x=int(input())
y=int(input())
print('pow',pow(x,y))

pow 81

# QUOTIENT,REMINDER

In [73]:
x=int(input())
y=int(input())
print('divmod',divmod(x,y))

divmod (3, 0)

In [74]:
nums=[2,4,6,7,8,9,10,100]
print('Min',min(nums))

Min 2

In [75]:
print('Max',max(nums))

Max 100

In [76]:
nums=[10,20,32,98,76,56,45,126,56,89,33,45,6,7,8,9,0,10,27,35,36,76,56,45,126,56,89,33,45,6,7,8,9,0,10,27,35,36]

In [77]:
[i for i in nums if i%2==0]

[10,
 20,
 32,
 98,
 76,
 56,
 126,
 56,
 6,
 8,
 0,
 10,
 36,
 76,
 56,
 126,
 56,
 6,
 8,
 0,
 10,
 36]

In [78]:
print('Even',[i for i in nums if i%2==0])
print('Odd',[i for i in nums if i%2!=0])

Even [10, 20, 32, 98, 76, 56, 126, 56, 6, 8, 0, 10, 36, 76, 56, 126, 56, 6, 8, 0, 10, 36]
Odd [45, 89, 33, 45, 7, 9, 27, 35, 45, 89, 33, 45, 7, 9, 27, 35]

In [81]:
import time
nums=[10,20,32,98,76,56,45,126,56,89,33,45,6,7,8,9,0,10,27,35,36,76,56,45,126,56,89,33,45,6,7,8,9,0,10,27,35,36]
start_time=time.time()


even=[]
odd=[]
for i in nums:
  if i%2==0:
    even.append(i)
  else:
    odd.append(i)

print('Even',even)
print('odd',odd)



end_time=time.time()
print('Time Taken',end_time-start_time)

Even [10, 20, 32, 98, 76, 56, 126, 56, 6, 8, 0, 10, 36, 76, 56, 126, 56, 6, 8, 0, 10, 36]
odd [45, 89, 33, 45, 7, 9, 27, 35, 45, 89, 33, 45, 7, 9, 27, 35]
Time Taken 0.0009996891021728516

In [82]:

nums=[10,20,32,98,76,56,45,126,56,89,33,45,6,7,8,9,0,10,27,35,36,76,56,45,126,56,89,33,45,6,7,8,9,0,10,27,35,36]
start_time=time.time()

print('Even',even)
print('odd',odd)



end_time=time.time()
print('Time Taken',end_time-start_time)

Even [10, 20, 32, 98, 76, 56, 126, 56, 6, 8, 0, 10, 36, 76, 56, 126, 56, 6, 8, 0, 10, 36]
odd [45, 89, 33, 45, 7, 9, 27, 35, 45, 89, 33, 45, 7, 9, 27, 35]
Time Taken 0.0020248889923095703

In [83]:
odd_even=['even' if i%2==0 else 'odd' for i in nums]
print(odd_even)

['even', 'even', 'even', 'even', 'even', 'even', 'odd', 'even', 'even', 'odd', 'odd', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'even', 'odd', 'odd', 'even', 'even', 'even', 'odd', 'even', 'even', 'odd', 'odd', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'even', 'odd', 'odd', 'even']

In [84]:
odd_even=[i if i%2==0 else 'odd' for i in nums]
print(odd_even)

[10, 20, 32, 98, 76, 56, 'odd', 126, 56, 'odd', 'odd', 'odd', 6, 'odd', 8, 'odd', 0, 10, 'odd', 'odd', 36, 76, 56, 'odd', 126, 56, 'odd', 'odd', 'odd', 6, 'odd', 8, 'odd', 0, 10, 'odd', 'odd', 36]

In [ ]:
class Employee:
    def __init__(self, emp_id, name, salary, department):
        self.emp_id = emp_id
        self.name = name
        self.salary = salary
        self.department = department

    def display_info(self):
        print(f"ID: {self.emp_id}, Name: {self.name}, Salary: {self.salary}, Department: {self.department}")class parent:
  def parent_method(self):
    print('This is a Parent Method')

class child(parent):
  def child_method(self):
    print('This is a Child Method')

In [96]:
employee1=Employee("001","riji",90000,'it')
employee1.display_info()

ID: 001, Name: riji, Salary: 90000, Department: it

In [98]:
employee1.name="rijijna"
employee1.display_info()

ID: 001, Name: rijijna, Salary: 90000, Department: it

In [102]:
class parent:
  def parent_method(self):
    print('This is a Parent Method')

class child(parent):
  def child_method(self):
    print('This is a Child Method')

In [104]:
C1=child()
C1.child_method()

This is a Child Method

In [105]:
C1.parent_method()

This is a Parent Method

In [ ]:
class parent:# Multiple Inheritance
  def parent_method(self):
    print('This is a Parent Method')

class child(parent):
  def child_method(self):
    print('This is a Child Method')

In [107]:
C1=child()
C1.child_method()

This is a Child Method

In [108]:
C1.parent_method()

This is a Parent Method

In [110]:
# Multi Level Inheritance
class grandparent:
  def grandparent_method(self):
    print('This is a Grandparent Method')

class parent(grandparent):
  def parent_method(self):
    print('This is a Parent Method')

class child(parent):
  def child_method(self):
    print('This is a Child Method')

In [111]:
gp=grandparent()
gp.grandparent_method()

This is a Grandparent Method

In [112]:
c1=child()
c1.child_method()

This is a Child Method

In [113]:
c1.parent_method()
c1.grandparent_method()

This is a Parent Method
This is a Grandparent Method

In [120]:
Sqrt= lambda num: num**0.5

In [121]:
Sqrt(25)

5.0

In [124]:
L=[34,25,5,6,7,8,9]

SQRT_LC=[i**0.5 for i in L]
SQRT_LC

[5.830951894845301,
 5.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0]

In [125]:
SQRT_LM_MAP=list(map(Sqrt,L))
SQRT_LM_MAP

[5.830951894845301,
 5.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0]

In [130]:
L1=input()

In [131]:
L1.split()

['10', '20', '30']

In [133]:
Num_L=list(map(int,L1.split()))
Num_L

[10, 20, 30]

In [139]:
# filter

L=[1,2,3,4,5,6,7,8]

even=list(filter(lambda num: num%2==0,L))
even

[2, 4, 6, 8]

In [143]:
def is_even(num):
  if num%2==0:
    return True
  else:
    return False

In [145]:
L=[1,2,3,4,5,6,7,8]

even=list(filter( is_even,L))
even

[2, 4, 6, 8]

In [150]:
FRUITS = ['apple', 'banana', 'mango', 'orange']
o = []  
a = []  

for fruit in FRUITS:
    if fruit.startswith('o'):
        o.append(fruit)
    elif fruit.startswith('a'):
        a.append(fruit)

print("Fruits starting with 'o':", o)
print("Fruits starting with 'a':", a)

Fruits starting with 'o': ['orange']
Fruits starting with 'a': ['apple']

In [151]:
FRUITS = ['apple', 'banana', 'mango', 'orange']

# Using lambda and filter
a = list(filter(lambda fruit: fruit.startswith('a'), FRUITS))
o = list(filter(lambda fruit: fruit.startswith('o'), FRUITS))

print("Fruits starting with 'a':", a)
print("Fruits starting with 'o':", o)

Fruits starting with 'a': ['apple']
Fruits starting with 'o': ['orange']

In [157]:
FRUITS = ['apple', 'banana', 'mango', 'orange']

# Using lambda and filter
a = list(filter(lambda fruit: 'a' in fruit, FRUITS))
o = list(filter(lambda fruit: 'o' in  fruit,FRUITS))

print("Fruits with 'a':", a)
print("Fruits with 'o':", o)

Fruits with 'a': ['apple', 'banana', 'mango', 'orange']
Fruits with 'o': ['mango', 'orange']

In [161]:
products=[1000,2500,3999,1500]
add=list(map(lambda x: x*1.18 ,products))
add

[1180.0, 2950.0, 4718.82, 1770.0]

# iterate

In [2]:
L1=['a','b','c',1,2,4,5]

Iter_Var=iter(L1)
Iter_Var

In [3]:
next(Iter_Var)

'a'

In [4]:
next(Iter_Var)

'b'

In [5]:
L=[1,2,3,45,6]
L[0]

1

In [6]:
L[1]

2

In [7]:
L1=[1,2,3,4,5]
for i in L1:
  print(i)

1
2
3
4
5

In [8]:
L1=[1,2,3,4,5,6,7,8,9,10]
L2=["A","B","C","D"]

for i in L1:
  for j in L2:
    print(i,j)

1 A
1 B
1 C
1 D
2 A
2 B
2 C
2 D
3 A
3 B
3 C
3 D
4 A
4 B
4 C
4 D
5 A
5 B
5 C
5 D
6 A
6 B
6 C
6 D
7 A
7 B
7 C
7 D
8 A
8 B
8 C
8 D
9 A
9 B
9 C
9 D
10 A
10 B
10 C
10 D

In [9]:
L=[45,67,78,89,75,2,67,89,10]
Sorted_List=sorted(L)
Sorted_List

[2, 10, 45, 67, 67, 75, 78, 89, 89]